

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">SURNAME</th>
      </tr>
    </thead>
  <tbody>
       <tr *ngFor="let student of students ">
          <td>{{student.name}}</td>
          <td>{{student.surname}}</td>


          <button (click)="this.getGrades(student.id, this.subjectId);  this.studentID(student.id);" type="submit"
          class="btn btn-dark" name="action" value="back" style="margin-left: 10px; margin-bottom: 10px;">SHOW/HIDE</button>


          <table>

            <tbody>


                <!-- <button (click)="this.getGrades(student.id, subject.id); this.subjectID(subject.id); this.show2();"
                  type="submit" class="btn btn-warning" name="action" value="back" style="margin-left: 10px; ">SHOW
                  GRADES</button> -->

                <ng-container *ngIf=" student.id === id">
                  <table>

                    <tbody>
                      <tr *ngFor="let pointt of grades.points ">

                        {{pointt.point}}



                    </tbody>

                   Average: {{avgValue}}
                  </table>
        <div>
                  <form class="submit-form">
                    <label for="point">POINT</label>
                    <select [(ngModel)]="point" id="point" class="form-control" name="point">


                      <option value="null"></option>



                      <option *ngFor="let pointt of points2" [ngValue]="pointt">{{pointt.point}}</option>

                    </select>



                  </form>

                    <button  (click)="addPoint(student.id, this.subjectId, point.id); this.studentID(student.id*(-100)) " [routerLink]="[ '/showGrades', subjectId, classId ]" routerLinkActive="active"    type="submit" class="btn btn-warning"
                      name="action" value="back" style="margin-left: 10px; ">ADD</button>
                  </div>




                </ng-container>



            </tbody><br>
          </table>









           </tbody><br>
        </table>

        <button [routerLink]="[ '/subjectClass', classId ]" routerLinkActive="active" type="submit"
            class="btn btn-warning" name="action" value="back" style="margin-left: 10px; margin-bottom: 10px;">SUBJECTS</button>

